version: '3.8'

services:
  introduccion-notebook:
    build:
      context: .
      dockerfile: Dockerfile
    user: "1000:1000"
    volumes:
      - ./src:/home/jovyan/src
      - ./notebooks:/home/jovyan/notebooks
    ports:
      - "8888:8888"
    environment:
      JUPYTER_TOKEN: ""
      JUPYTER_ENABLE_LAB: "yes"
    command: >
      start-notebook.sh
      --NotebookApp.ip=0.0.0.0
      --NotebookApp.port=8888
      --NotebookApp.notebook_dir=/home/jovyan/notebooks
      --NotebookApp.token='${JUPYTER_TOKEN}'
    shm_size: "2g"
